@import url("https://fonts.googleapis.com/css2?family=Roboto+Flex&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Source Sans Pro", sans-serif;
}

#overview {
  display: grid;
  grid-template-columns: 50% 50%;
}

.paper {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

@media only screen and (max-width: 550px) {
  #overview {
    grid-template-columns: 100%;
  }
  .paper {
    flex-direction: column;
  }
  svg {
    width: 100px;
    height: 100px;
  }
}
