@import url("https://fonts.googleapis.com/css2?family=Roboto+Flex&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Source Sans Pro", sans-serif;
}

.paper {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.userTable > div {
  width: 100%;
  display: grid;
  grid-template-columns: 25% 25% 10% 5% 10% 5%;
  grid-column-gap: 10px;
  justify-content: space-between;
  padding: 10px;
  border: 1px solid #ccc;
}

.userTable > div:not(:first-child) {
  border-top: none;
}

.userTable > div:first-child {
  background-color: #000;
  color: #fff;
  border-color: #000;
}

.userTable > div:nth-child(even) {
  background-color: #f2f2f2;
}

.userTable h3 {
  font-size: 1rem;
  font-weight: 400;
  text-transform: capitalize;
}

@media only screen and (max-width: 550px) {
  #overview {
    grid-template-columns: 100%;
  }
  .paper {
    flex-direction: column;
  }
  svg {
    width: 100px;
    height: 100px;
  }
}
